<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>케이마켓::로그인</title>
    <link rel="stylesheet" th:href="@{/css/member.css}">
    <script th:inline="javascript">
    	var success = [[${success}]];
    	
    	if(success == '101'){
    		alert('비밀번호가 일치하지 않습니다.');
    	}else if(success == '201'){
    		alert('장바구니를 확인하시려면 로그인을 하셔야 합니다.'); //로그인 후에 바로 장바구니로 가려면?
    	}
    </script>
    
    
</head>
<body>
    <div id="member-wrapper">
        <th:block th:include="member/_header.html"></th:block>

        <main>
            <div id="member-login">
                <img src="../img/member_txt_login.gif" alt="로그인" />
				<form th:action="@{/member/login}" method="post">     <!-- 컨트롤러주소값으로 넘겨주는 놈이니까 -->
					<input type="hidden" name="productCode" th:if="${productCode}" th:value="${productCode}"/> <!-- 카트에 담은 후 로그인페이지로 넘어올때 productCode파라미터를 들고 로그인페이지로 오니까 얘가 생기는거지 -->
					<div>
						<label>
							<span><img src="../img/member_txt_id.gif" alt="아이디"></span> 
							<input type="text" name="uid" />
						</label>
						<label>
							<span><img src="../img/member_txt_pass.gif" alt="비밀번호"></span> 
							<input type="password" name="pass" />
						</label>
					</div>
					<input type="submit" value="로그인" />
					<span>
						<a href="#">아이디찾기</a>
						<a href="#">비밀번호찾기</a>
						<a th:href="@{/member/join}">회원가입</a>
					</span>
				</form>
				<img src="../img/member_certifi_logo.gif" alt="banner">
            </div>
        </main>        
      <th:block th:include="member/_footer.html"></th:block>
    </div>    
</body>
</html>